[Unit]
Description=uWSGI instance to serve ptodetector
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/practice-testing-ai-ml
Environment="PATH=/home/ubuntu/practice-testing-ai-ml/venv-pto-detector/bin"
ExecStart=/home/ubuntu/practice-testing-ai-ml/venv-pto-detector/bin/uwsgi --ini aiml.ini

[Install]
WantedBy=multi-user.target